$colors: (
  primary-light: #fff,
  primary-dark: #111,
  text-light: #333,
  text-dark: #fff,
  button: #4caf50,
  button-hover: #45a049,

  navbar-light: #f0f0f0,
  navbar-dark: #333,
  navbar-button-light: #333,
  navbar-button-dark: #ddd,
  navbar-button-light-text: #fff,
  navbar-button-dark-text: #333,
  navbar-button-hover-light: #555,
  navbar-button-hover-dark: #ccc,
  navbar-a-light: #333,
  navbar-a-dark: #fff,

  section-nth-child-even-light: #f5f5f5,
  section-nth-child-even-dark: #444,

  team-member-light: #f5f5f5,
  team-member-dark: #444,
  team-member-light-color: #333,
  team-member-dark-color: #fff,

  blog-post-light: #f0f0f0,
  blog-post-dark: #222,
  blog-post-light-color: #333,
  blog-post-dark-color: #fff,

  contact-form-light: #f9f9f9,
  contact-form-dark: #333,
  contact-form-light-color: #333,
  contact-form-dark-color: #fff,
  contact-form-border-light: #ddd,
  contact-form-border-dark: #555,
  contact-form-textarea-light: #fff,
  contact-form-textarea-dark: #444,
  contact-form-textarea-light-color: #333,
  contact-form-textarea-dark-color: #fff,
  contact-form-textarea-light-border: #ccc,
  contact-form-textarea-dark-border: #666,
);
