@import "../../variables.scss";
.section {
  padding: 20px 0;
  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    display: inline-block;
  }
}

.sectionContent {
  max-width: 800px;
  margin: 0 auto;
}

:global(.light-theme) .section:nth-child(even) {
  background-color: map-get($map: $colors, $key: section-nth-child-even-light);
}

:global(.dark-theme) .section:nth-child(even) {
  background-color: map-get($map: $colors, $key: section-nth-child-even-dark);
}
